body {
	background-image:url(img/battleback1.png);
	font-family: Verdana, sans-serif;
}
#defense{
	visibility : hidden;
}
#scoredefenseKaezh{
	visibility : hidden;
}
/*#viem1 {
	color : white;
	visibility : hidden;
	border-style: inset;
	border-color: #6d071a;
	background-color: red;
	border-radius: 50px;
}*/
/*#nomm1 {
	color : white;
	visibility: hidden;
}*/
.monstre {

	display : flex;
	flex-direction: column;
	align-items: center 
}
.infomonstre {

	display : flex;
	flex-direction: row;
	align-content: center;
	border-style : inset;
	border-color: #6d071a;
	background-color: red;
	border-radius: 50px;
	visibility : hidden;
	color : white;

}
.pv {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	width: 200px;
	justify-content: space-around;
	backface-visibility: hidden;
}
.case {
	border-style: inset;
	background-color: #808080;
}
.attaquer {

}
.defendre {

}
.soigner {

}